.contenedor-item-tarea {
  background: #214164;
  color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  padding: 1.2rem 1.5rem;
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  
}

.item-tarea-id {
  font-size: 0.9rem;
  color: #b0b0b0;
  margin-bottom: 0.2rem;
}

.item-tarea-titulo {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.item-tarea-boton-estado {
  background: #369805;
  color: white;
  border-radius: 6px;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0.3rem;
  border: none;
  outline: none;
  cursor: not-allowed;
}

.item-tarea-fecha,
.item-tarea-fecha-limite {
  font-size: 0.95rem;
  color: #e0e0e0;
}

.item-tarea-fecha-limite {
  font-style: italic;
}

.item-tarea-eliminar {
  background: #fcf9f9;
  border: none;
  border-radius: 50%;
  width: 2.1rem;
  height: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.item-tarea-eliminar:hover {
  background: #c0392b;
}
